<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Showing user {{ id }}</title>
</head>
<body>
    <div class="text-end"><a href="/user">Back to Home</a></div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">User {{ id }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Profile</h6>
            {%for piece in info%}
            <p class="card-text">Name: {{ piece.first_name }} {{ piece.last_name }}</p>
            <p class="card-text">Email: {{ piece.email }}</p>
            <p class="card-text">Created On: {{ piece.created_at }}</p>
            <p class="card-text">Updated At: {{ piece.updated_at }}</p>
            {% endfor %}
            <a href="/user/edit/{{ id }}" class="card-link">Edit</a>
            <a href="/user/delete/{{ id }}" class="card-link">Delete</a>
        </div>
    </div>
</body>
</html>