<h1>All My Friends</h1>
<h1>Add a Friend</h1>
<form action="/create_friend" method="POST">
        <label for="fname">First Name:</label>
        <input type="text" name="fname">
        <label for="lname">Last Name:</label>
        <input type="text" name="lname">
        <label for="occ">Occupation:</label>
        <input type="text" name="occ">
        <input type="submit" value="Add Friend">
</form>
<form action="/delete_friend" method="POST">
        <label for="fid">ID:</label>
        <input type="text" name="fid">
        <input type="submit" value="Delete Friend">
</form> 

{% for one_friend in all_friends %}
    <p>ID: {{one_friend.id}}</p>
    <p>First Name: {{one_friend.first_name}}</p>
    <p>Last Name: {{one_friend.last_name}}</p>
    <p>Occupation: {{one_friend.occupation}}</p>
    
<hr>
{% endfor %}