* {
    margin: 0px;
    padding: 0px;
}

.cont {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.box1, .box2 {
    width: 500px;
}
.title {
    text-align: center;
    margin: 15px;
}

.authcont {
    border: 3px solid black;
}

.formcont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.subbtn {
    width: 75px;
    height: 35px;
    margin: 15px;
}

.addbook {
    margin: 15px;
}

.table {
    width: 400px;
    text-align: center;
    border: 1px solid black;
    font-size: larger;
}

.table-c {
    border: 1px solid black;
}