<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>All Ninjas</title>
</head>
<body>
    <center><h1>All Ninjas | <a href="/dojo">All Dojos</a></h1></center>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Dojo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ninja in all_ninjas %}
            <tr>
                <th>{{ninja.id}}</th>
                <td>{{ninja.first_name}}</td>
                <td>{{ninja.last_name}}</td>
                <td>{{ninja.age}}</td>
                {% for dojo in all_dojos %}
                    {% if dojo.id == ninja.dojo_id %}
                        <td>{{ dojo.name }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="/ninja/show/{{ninja.id}}">Show Ninja</a> | <a href="/dojo/show/{{ ninja.dojo_id }}"><b>Show Dojo</b></a> | <a href="/ninja/edit/{{ninja.id}}">Edit Ninja</a> | <a href="/ninja/delete/{{ninja.id}}">Delete Ninja</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form action="/ninja/new">
        <input class="btn btn-primary" type="submit" value="Create a Ninja" />
    </form>
</body>
</html>