<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">

    <title>Book Favorites</title>
</head>

<body>
    <div class="cont">
        <div class="box1">
            <div class="title">
                <h1>{{ book[0].title }}'s Favorites</h1>
            </div>
            <div class="formcont">
                <div class="form">
                    <table class="table">
                        <tr class="table-c">
                            <th class="table-c">Author</th>
                        </tr>
                        {% for fav in favs %}
                        <tr class="table-c">
                            <td class="table-c">{{ fav.name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <a href="/books">Home</a>
        </div>
        <div class="box2">
            <div class="title">
                <h1>Add Book's Favorite</h1>
            </div>
            <div class="form">
                <form action="/books/{{ book[0].id }}/add" method="POST">
                    <div class="form-group">
                        <label for="authorid">Author:</label>
                        <select name="authorid" id="authorid">
                            {% for notfav in notfavs %}
                            <option value="{{ notfav.id }}">{{ notfav.name }}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" name="id" value="{{ book[0].id }}">
                    </div>
                    <button type="submit" class="subbtn">Add</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>